name: Dump Context Demo

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  direct-composite:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Dump context using composite action directly
        uses: LukeCarrier/test/.github/actions/dump-context@main

      - name: Resolve reference
        id: resolve_ref
        uses: LukeCarrier/test/.github/actions/resolve-composite-action-ref@main

      - name: Print resolved reference
        env:
          RESOLVED_REF: ${{ steps.resolve_ref.outputs.ref }}
        run: |
          echo "Resolved reference: $RESOLVED_REF"

  via-reusable:
    uses: LukeCarrier/test/.github/workflows/dump-context-reusable.yml@main
