name: Dump Context Demo

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  direct-composite:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Dump context using composite action directly
        uses: LukeCarrier/test/.github/actions/dump-context@d13c73a551ea8512abc527751d7160d956761777

  via-reusable:
    uses: LukeCarrier/test/.github/workflows/dump-context-reusable.yml@d13c73a551ea8512abc527751d7160d956761777
